type ir_dev_file, file_type;

allow ueventd ir_dev_file:chr_file { create setattr };

# Fingerprint
type fpc_data_file, file_type, data_file_type, core_data_file_type;
type fpce_socket, file_type;
type fpc_sysfs, fs_type, sysfs_type;
type gx_fpd_data_file, file_type, data_file_type, core_data_file_type;
type fingerprintd_device, file_type, dev_type;
type fingerprint_data_file, data_file_type, file_type;
type fingerprint_persist_file, file_type;
type sysfs_fpc_dev, sysfs_type, fs_type;

# Rild
type rild_file, file_type, vendor_file_type;

# Rmt
type debugfs_rmt, debugfs_type, fs_type;

# Touchscreen
type proc_touchpanel, fs_type, sysfs_type, proc_type;

# /sys
type sysfs_msm_subsys, sysfs_type, fs_type;

# Touchscreen wake_gesture
type sysfs_tap_to_wake, sysfs_type, fs_type;

# Keylayout
type idc_file, file_type, vendor_file_type;
type keylayout_file, file_type, vendor_file_type;

# XiaomiParts
type sysfs_kcal, fs_type, sysfs_type;
type sysfs_torch, fs_type, sysfs_type;
