allow hal_fingerprint_default fingerprintd_device:chr_file rw_file_perms;
allow hal_fingerprint_default sysfs:file rw_file_perms;
allow hal_fingerprint_default tee_device:chr_file rw_file_perms;
allow hal_fingerprint_default uhid_device:chr_file rw_file_perms;
allow hal_fingerprint_default self:netlink_socket create_socket_perms_no_ioctl;
allow hal_fingerprint_default property_socket:sock_file write;
allow hal_fingerprint_default init:unix_stream_socket connectto;
binder_call(hal_fingerprint_default, vndservicemanager)
allow hal_fingerprint_default vndbinder_device:chr_file rw_file_perms;
allow hal_fingerprint_default fpc_sysfs:file rw_file_perms;
allow hal_fingerprint_default { fpc_data_file fpc_sysfs }:dir rw_dir_perms;
allow hal_fingerprint_default fingerprintd_device:chr_file rw_file_perms;
allow hal_fingerprint_default hal_perf_default:binder call;
allow hal_fingerprint_default hal_perf_hwservice:hwservice_manager find;
set_prop(hal_fingerprint_default, system_prop)
r_dir_file(hal_fingerprint_default, firmware_file)
binder_use(hal_fingerprint_default)
add_service(hal_fingerprint_default, goodix_fingerprint_vndservice)
add_service(hal_fingerprint_default, goodixfingerprintd_service)
dontaudit hal_fingerprint_default storage_file:dir search;
dontaudit hal_fingerprint_default mnt_user_file:dir search;
dontaudit hal_fingerprint_default rootfs:dir { read open };
