allow priv_app adsprpcd_file:filesystem getattr;
allow priv_app device:dir { open read };
allow priv_app proc_interrupts:file { open read };
allow priv_app rfs_system_file:dir { getattr };
binder_call(priv_app, hal_memtrack_default);
allow priv_app hal_memtrack_hwservice:hwservice_manager { find };
allow priv_app block_device:dir { search };
